* {box-sizing:border-box}

.div-badges{
  display: table;
  table-layout:fixed;
}

.ul-badges{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li-badge-active{
  display : inline;
  margin : 5px;
  border : solid 1px #222d32;
  border-radius : 4px;
  background : #222d32;
  color : #fff;
  flex-grow:1;
  text-align: center;
  padding: 2px;
}

.li-badge-no-active{
  display : inline;
  color : #222d32;
  margin : 5px;
  border : solid 1px #222d32;
  border-radius : 4px;
  flex-grow:1;
  padding: 2px;
  text-align: center;
}

.card-project{
  padding: 2%;
  margin: 1% 0 0 0;
  border: 1px solid #222d32;
  border-radius: 4px;
}
